<div id="{{.intro.id}}" class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">{{.intro.heading}}</h2>
    <p class="mb4 mw6">{{.intro.text}}</p>

    <div class="flex flex-row flex-wrap mhn2-ns mb3">
      {{ range .projects }}
      <div class="ph2-ns w-50-ns">
        <a class="no-underline center" href="{{.link}}" target="_blank">
          <img src="{{.image}}" alt="" class="center db mb3">
          <p>{{.text}}</p>
        </a>
      </div>
      {{ end }}
    </div>

    <div class="tc">
      <a href="https://codepen.io/higginbg/" class="btn raise" target="_blank">See all projects</a>
    </div>
  </div>
</div>
