<div id="{{.intro.id}}" class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 normal lh-title mb2">{{.intro.heading}}</h2>

    <div class="flex flex-row flex-wrap mhn2-ns mb3 center">
      {{ range .projects }}
      <div class="pa2 w-third-ns">
        <a href="{{.link}}" target="_blank" class="db h-100 w-100 no-underline bg-primary shadow">
          <img src="{{.image}}" alt="" class="center db w-100">
          <div class="pv3 tc v-mid white">{{.text}}</div>
        </a>
      </div>
      {{ end }}
    </div>

    <div class="tc">
      <a href="https://codepen.io/higginbg/" class="btn raise" target="_blank">See all projects</a>
    </div>
  </div>
</div>
