<footer class="bg-secondary ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-center">

			<div>
				<h3 class="f4 b lh-title mb2 center">Let's Connect</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "mailto:gabrielhigginbotham@gmail.com" "icon" "fas fa-envelope" "title" "email") }}
					{{ partial "social-icon" (dict "link" "https://www.linkedin.com/in/higginbg" "icon" "fab fa-linkedin" "title" "LinkedIn") }}
					{{ partial "social-icon" (dict "link" "https://github.com/higginbg" "icon" "fab fa-github-square" "title" "GitHub") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
