<footer class="bg-secondary ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-center">

			<div>
				<h3 id="contact" class="f4 b lh-title mb2 tc">Let's connect</h3>
				<ul class="mhn2 tc center">
					{{ partial "social-icon" (dict "link" "mailto:gabrielhigginbotham@gmail.com" "icon" "fas fa-envelope" "title" "Email") }}
					{{ partial "social-icon" (dict "link" "https://linkedin.com/in/higginbg" "icon" "fab fa-linkedin" "title" "Linkedin") }}
					{{ partial "social-icon" (dict "link" "https://github.com/higginbg" "icon" "fab fa-github-square" "title" "GitHub") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

<script src="/app.js"></script>
