<nav class="overflow-x-scroll flex justify-end items-center center bg-primary white w-100 divider-grey">

	<!-- Logo 
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>
	-->

	<!-- Primary Nav -->
	<ul class="flex">
		<li><a href="#about" class="pa3 no-underline db b--solid b--transparent bw2 bt-0 br-0 bl-0">About</a></li>

		<li><a href="#projects" class="pa3 no-underline db b--solid b--transparent bw2 bt-0 br-0 bl-0">Projects</a></li>

		<li><a href="#contact" class="pa3 no-underline db b--solid b--transparent bw2 bt-0 br-0 bl-0">Contact</a></li>
	</ul>

</nav>
