::selection {
  background-color: var(--highlight);
}

.shadow {
  box-shadow: var(--shadow);
  transition: var(--hover-transition) !important;

  &:hover {
    box-shadow: var(--shadow-hover);
  }
}

/* Used in the navbar */
.divider-grey {
  box-shadow: var(--nav-shadow);
  position: relative;
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover, & ul a:focus {
    border-bottom: var(--spacing-extra-small) solid var(--white);
  }
}

.jumbotron img {
  box-shadow: var(--shadow);
}

footer {
  box-shadow: var(--footer-shadow);
  position: relative;
}

#about {
  box-shadow: var(--nav-shadow), var(--footer-shadow);
  position: relative;
}